@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 1. Change the default map cursor (use 'default' for a standard arrow, or 'crosshair' for precision) */
.leaflet-container.leaflet-grab {
  cursor: default !important; 
}

.leaflet-interactive {
  cursor: pointer !important;
}

.leaflet-overlay-pane {
  pointer-events: none !important;
}

.leaflet-overlay-pane svg {
  pointer-events: none !important;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  transition-timing-function: linear !important;
}
